platforms
util
scripts
results
logs
reports
objects
.dev*
.venv
sv2v
**/dev/liteeth_builds
**/srecord/
**/bazel
**/sv2v*/
**/python-*/
**/systemc-*/
**/perl-*/
**/_build*/
**/openssl*/
**/_installed/
**/_tarballs/
**/*.log
**/packages/
**/generated/
bazel-*
MODULE.bazel.lock
